body{

    background-image: url('./images/5.png');
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
height: 100%;
}


#heromain{

    color: white;
}

#herotext{
    color: white;
}

#btnog{
    background-color: orangered;
}